@import url('https://fonts.googleapis.com/css2?family=Arsenal+SC:ital,wght@0,400;0,700;1,400;1,700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
   font-family: "Arsenal SC", sans-serif;
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center;
   background-image: url("https://img.freepik.com/free-photo/top-view-party-decoration-with-white-frame-balloons_23-2148309239.jpg?t=st=1719905617~exp=1719909217~hmac=be1b59eb8e75b86a263341d93dc0e284b7f7c12b1d5c6010758fad0168c9f289&w=740");
}
.main{
    display: flex;
    justify-content: center;
    border-radius: 20px;
    width: 50%;
    margin: 50px auto 0px auto;
    padding: 100px 50px;
    background: rgba( 213, 41, 77, 0.55 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 3px );
    -webkit-backdrop-filter: blur( 3px );
    border-radius: 10px;
    color: white;
            }

.btn{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    
}

button{
    padding: 20px 10px;
    border: none;
    border-radius: 20px;
    background:#961b3c;
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 3px );
    -webkit-backdrop-filter: blur( 3px );
    border-radius: 10px;
    color: white;
    cursor: pointer;
}